connector.name=quickwit
redis-url=http://default:<REDIS_PASSWORD>@<REDIS_HOST>:<REDIS_PORT>
keywords=
number_of_worker_threads=5
run_in_coordinator_only=true
worker_index_to_run_in=1
qw-connection-url=http://<QUICKWIT_HOST>:<QUICKWIT_PORT>
qw-index=<DEFAULT_INDEX>
